@model IEnumerable<Item>

<div class="container">
<h3>Admin item table</h1>
<table class='table table-striped'>
<tr>
<th>Id</th>
<th>Name</th>
<th>Type</th>
<th>Image</th>
<th>Actions</th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.ItemId</td>
        <td>@item.Name</td>
        <td>@item.Type</td>
    <td>
    <!---URL: @item.ImageUrl-->
    <img src="@item.ImageUrl" alt="imgitem" style="max-width: 80px; max-height: 80px;"/>
    </td>

    <td>
        <a class="btn btn-outline-secondary" asp-action="Update" asp-route-id="@item.ItemId">Update</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
    </td>
    </tr>
}
</table>

<p>
<a class="btn btn-secondary"
asp-controller="Item"
asp-action="Create">Create new Item</a>
</p>
</div>