@model IEnumerable<ModuleTopic>

<h3>Admin moduletopics</h3>
@foreach (var ModuleTopic in Model)
      {
        <details>
        <summary>@ModuleTopic.ModuleTopicName
        <td>
        <a class="btn btn-outline-secondary" asp-action="Update" asp-route-id="@ModuleTopic.ModuleTopicId">Update name</a>
        <a class="btn btn-custom-danger" asp-action="Delete" asp-route-id="@ModuleTopic.ModuleTopicId">Delete module</a>
    </td></summary>
        
        <p>(a)ATaskName
        @if(@ModuleTopic.ModuleTopicId == 114 || @ModuleTopic.ModuleTopicId == 115 ){
        
        <a class="btn btn-outline-secondary" asp-action="Update" asp-route-id="">Update</a>
        <a class="btn btn-custom-danger disabled">Delete</a>
        }

        else{
        <a class="btn btn-outline-secondary" asp-action="Update" asp-route-id="@ModuleTopic.ModuleTopicId">Update</a>
        <a class="btn btn-custom-danger" asp-action="Delete" asp-route-id="@ModuleTopic.ModuleTopicId">Delete</a>
        }

        </p>
        <p>
        <a class="btn btn-secondary"
        asp-controller="ModuleTop"
        asp-action="Create">Create task</a>
        </p>
        </details>
      }

<p>
<a class="btn btn-secondary"
asp-controller="ModuleTop"
asp-action="Create">Create new Module</a>
</p>
</div>