@model IEnumerable<ModuleTopic>

<h3>Admin moduletopics</h3>
@foreach (var ModuleTopic in Model)
      {
        <details>
        <summary>@ModuleTopic.ModuleTopicName
        <td>
        <!--<a asp-action="Update" asp-route-id="@ModuleTopic.ModuleTopicId">Update</a>-->
        <a asp-action="Delete" asp-route-id="@ModuleTopic.ModuleTopicId">Delete module</a>
    </td></summary>
        
        <p>Oppgavenavn
        <a asp-action="Update" asp-route-id="@ModuleTopic.ModuleTopicId">Update</a>
        <a asp-action="Delete" asp-route-id="@ModuleTopic.ModuleTopicId">Delete</a>
        </p>
        <p>
        <a class="btn btn-secondary"
        asp-controller="ModuleTop"
        asp-action="Create">Create task</a>
        </p>
        </details>
      }

<p>
<a class="btn btn-secondary"
asp-controller="ModuleTop"
asp-action="Create">Create new Module</a>
</p>
</div>